appnope==0.1.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
decorator==4.1.2
dnspython==1.15.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-PyMongo==0.5.1
Flask-SQLAlchemy==2.3.2
gunicorn==19.7.1
-e git+https://github.com/goodwordalchemy/spotify-api.git@fb8b1607a00b4a769f0bbcf4c70db2467c282635#egg=gwa_spotify_api
idna==2.6
ipdb==0.10.3
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
MarkupSafe==1.0
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
Pygments==2.2.0
pymongo==3.6.0
rauth==0.7.3
requests==2.20.1
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.15.3
