<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Playlist Scraper</title>
    </head>
    <body>
        <h1>Playlist Scraper</h1>

        <pre>
            # Playlist Pattern Scraper

            This app allows people who give me permission to scrape the track data from playlists matching any of the following patterns:

                My Shazam Tracks
                Your Top Songs <year>
                The Ones That Got Away
                Your Summer Rewind
                Discover Weekly

            ## How it works

            1. User arrives at home page.
            2. User Oauths into Spotify
            3. App scrapes playlists matching patterns listed above.  It puts the track metadata and track-playlist links into a database.
            4. User arrives at "Thank You" screen.

            ## What I will do with the data

            1. I will smile ear to ear and comb through the collections of people that I already know to have outstanding taste in music.
            2. I will practice implementing music recommendation algorithms and clustering algorithms.

            ## What does the user get out of this?

            1. A personalized playlist of music recommendations based on the music of other users who have similar taste in music.
            2. The satisfaction of knowing you have allowed me to learn and discover tons of great music.
        </pre>
        <a href="{{ url_for('spotify_authorize') }}" style="border: 1 1 1 1">Begin!</a>

    </body>
</html>
